/*INICIO FONTS*/
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?30uieg');
  src:  url('../fonts/icomoon.eot?30uieg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?30uieg') format('truetype'),
    url('../fonts/icomoon.woff?30uieg') format('woff'),
    url('../fonts/icomoon.svg?30uieg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}

.icon-envelop:before {
  content: "\e945";
}

.icon-menu:before {
  content: "\e9bd";
}

.icon-close:before {
  content: "\ea0d";
}
/*FIN FONTS*/

body{
  font-family: 'Allerta', sans-serif;
  margin: 0;
}

table{
  width: 100%;
}

th{
  background: #273b47;
  color: white;
  padding: 10px;
}

td{
  padding: 20px;
  text-align: center;
}

table, th, td{
  border: 1px solid #273b47;
  border-collapse: collapse;
}

.b{
  height: 180px;
}

#burger{
  display: none;
}

.button{
  border-radius: 12px;
  border: none;
  background: #fd324e;
  color: white;
  cursor: pointer;
  padding: 10px 12px;
  font-size: 18px;
  text-decoration: none;
  background: linear-gradient(to left, #fe344e, #ff7250);
}

.col1, .col2{
  display: flex;
  flex-direction: column;
}

.col1{
  margin-right: 15px;
}

.col2{
  align-items: flex-end;
}

.col2 .button{
  margin-top: 15px;
}

.contacto{
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.contacto a{
  color: white;
  text-decoration: none;
  margin: 12px 12px 12px 0;
}

.contacto img{
  display: block;
}

.contacto strong{
  display: block;
}

.contenedor{
  max-width: 800px;
  margin: 0 auto;
}

.contenedor-guitarra-a{
  padding-left: 20px;
}

.contenedor-guitarra-b{
  margin-left: 370px;
  position: relative;
  bottom: 90px;
}

.footer{
  background: #273b47;
  padding: 50px 10px;
}

.footer .contenedor{
  display: flex;
  justify-content: space-between;
}

.formulario{
  color: white;
  display: flex;
  width: 400px;
}

.formulario label, .sex, .intereses{
  margin-bottom: 10px;
}

.guitarras{
  color: #1F313C;
  margin-bottom: 60px;
}

.guitarras h2{
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}

.guitarra{
  margin: 10px 10px 40px 10px;
  padding: 10px;
  border: 2px solid #1F313C;
  border-radius: 8px;
}

.guitarra ol{
  padding: 0;
}

.header{
  position: relative;
}

.header a{
  text-decoration: none;
}

.intereses label{
  font-size: 10px;
}

.invie{
  text-decoration: underline;
}

.left{
  /*ROMPE MODELO DE CAJA*/
  float: left;
  position: relative;
  bottom: 12px;
}

.logo{
  display: inline-block;
  margin: 0;
}

.menu{
  font-size: 24px;
  display: inline-block;
  /*SE SUGIERA COLOCAR POSITION RELATIVA AL PADRE*/
  position: absolute;
  right: 0;
}

.menu a{
  color: white;
  text-decoration: none;
}

.menu li{
  display: inline-block;
  margin-left: 30px;
}

.portada{
  background: url('../images/background.png');
  background-size: cover;
  color: white;
  padding: 20px;
  /*height: 500px;*/
}

.portada-height{
  height: 500px;
}

.portada button{
  margin-bottom: 70px;
}

.right{
  float: right;
  position: relative;
  bottom: 126px;
}
.sex{
  margin-top: 10px;
}

.subtitulo{
  font-size: 24px;
  margin-top: 0px;
}

.title-b{
  font-size: 50px;
  margin-bottom: 20px;
}

.tabla{
  margin: 75px;
}

.titulo{
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
  margin-top: 70px;
}

.burger-button{
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  height: 40px;
  background: #395667;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 3;
}

@media screen and (max-width: 800px) {
  .titulo{
    font-size: 45px;
    margin-top: 30px;
  }

  .subtitulo{
    font-size: 18px;
  }

  .portada{
    height: auto;
  }

  .guitarras{
    text-align: center;
  }

  .guitarra.b{
    height: auto;
  }

  .guitarra li{
    list-style: none;
  }

  .right, .left{
    float: none;
    position: static;
  }

  .title-b{
    margin: 10px 15px;
  }

  .contenedor-guitarra-a{
    padding: 0;
  }

  .contenedor-guitarra-b{
    position: static;
    margin: 0;
  }

  .tabla .contenedor{
    overflow: auto;
  }
}

@media screen and (max-width: 767px) {
  .col1{
    margin: 0;
  }

  .col2{
    align-items: flex-start;
  }

  .col2 textarea{
    width: 100%
  }

  .contacto{
    margin: 0 auto;
  }

  .footer .contenedor{
    display: block;
  }

  .formulario{
    display: block;
    margin: 0 auto;
    width: 300px;
  }

  input[type="text"], input[type="email"]{
    font-size: 16px;
    padding: 5px;
  }

  input[type="radio"], input[type="checkbox"]{
    zoom: 1.5;
  }

  .intereses label{
    display: block;
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {
  .header{
    text-align: center;
  }

  .logo{
    margin: 0;
  }

  .menu{
    position: static;
    display: block;
  }

  .menu li:first-child{
    margin: 0;
  }

  .menu ul{
    padding: 0;
  }

}

@media screen and (max-width: 500px) {
  #burger{
    display: inline;
  }

  .guitarra img{
    width: 200px;
  }

  .portada{
    text-align: center;
  }

  .portada .contenedor{
    position: static;
  }

  .header{
    position: static;
  }

  .header .contenedor{
    position: static;
  }

  .menu{
    background: rgba(255, 60, 88, .8);
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    transition: .3s;
  }

  .menu.active{
    left: 0;
  }

  .menu li{
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
  }

  .menu li:first-child{
    border-top: 1px solid white;
  }

  .menu ul{
    flex: 1;
  }

  .titulo, .subtitulo{
    text-align: center;
  }

  .titulo{
    font-size: 30px;
  }

  .title-b{
    font-size: 30px;
  }

  .subtitulo{
    font-size: 15px;
  }
}
